@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* DESKTOP */
@media (min-width: 769px) {
  .sidebar {
    position: static !important;
    left: 0 !important;
    height: auto !important;
  }

  .menu-btn {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-btn {
    display: inline;
  }
}
